@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, html { 
  font-family: 'Quicksand', sans-serif;
}

@layer components {
  .btn-hover {
    @apply  hover:text-primary-blue hover:border-primary-blue;
  }
  .btn-hover2 {
    @apply  hover:text-white hover:bg-primary-blue;
  }

  .button {
    @apply flex items-center space-x-2 py-0 px-2 md:px-6 rounded-full border-2 border-primary-lowBlack text-base md:text-lg text-primary-lowBlack font-semibold;
  }
  .active {
    @apply flex items-center space-x-1 md:space-x-2 py-2 px-2 md:px-6 bg-primary-blue text-white rounded-full text-sm md:text-xl  font-semibold
  }
  .icon{
    @apply w-4 h-4 md:w-6 md:h-6;
  }

  .btn-contin-hover {
    @apply hover:bg-primary-blue hover:text-white transition ease-out duration-500
  }
}
